<!doctype html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>
        {{#if data}}
            <h1 class="header">{{data.result_count}} {{labels.resultsFound}}</h1>
            <div>
                {{#each data.listing}}
                    <a href="#" class="property" aria-label="{{num_bedrooms}} {{../labels.bedroom}} {{property_type}} {{../labels.forSalePrice}}: {{formatCurrency price}}. {{description}}">
                        <img class="property__image" src="{{image_url}}" alt="{{num_bedrooms}} bedroom {{property_type}} for sale"/>
                        <div class="property__details">
                            <h2>{{num_bedrooms}} {{../labels.bedroom}} {{property_type}} {{../labels.forSale}}</h2>
                            <div class="property__price">{{formatCurrency price}}</div>
                            <p class="property__description">{{description}}</p>
                        </div>
                        <div class="property__agent">
                            <div class="property__agent-image">
                                <img class="property__agent-logo" src="{{agent_logo}}" alt="{{agent_name}}" />
                            </div>
                            <div class="property__agent-name">{{agent_name}}</div>
                            <div class="property__agent-address">{{agent_address}}, {{agent_postcode}}</div>
                            <div class="property__agent-phone">T: {{agent_phone}}</div>
                        </div>
                    </a>
                {{/each}}
            </div>
        {{/if}}
    </body>
</html>