<!doctype html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>
        <h1 class="header">{{resultsTitle}}</h1>
        {{#if resultsSubTitle}}
            <p class="introduction">{{resultsSubTitle}}</p>
        {{/if}}
        <form action="results">
            <input class="col-f-8-of-12" type="search" name="p" placeholder="{{labels.postCode}}" aria-label="{{labels.searchByPostCode}}"/>
            <button class="col-f-4-of-12" type="submit">{{labels.search}}</button>
        </form>
    </body>
</html>
