<!doctype html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>
        <main>
            <h1 class="margin-b">{{resultsTitle}}</h1>
            {{#if resultsSubTitle}}
                <p class="margin-b">{{resultsSubTitle}}</p>
            {{/if}}
            <form class="search-container" action="results">
                <input class="search-input col-f-8-of-12" type="search" name="p" placeholder="{{labels.postCode}}" aria-label="{{labels.searchByPostCode}}"/>
                <button class="search-submit col-f-4-of-12" type="submit">{{labels.search}}</button>
            </form>
        </main>
    </body>
</html>