<!doctype html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>
        <h1 class="header">{{resultsTitle}}</h1>
        {{#if resultsSubTitle}}
            <p class="introduction">{{resultsSubTitle}}</p>
        {{/if}}
        <form class="search" action="results">
            <input class="search__input" type="search" name="p" placeholder="{{labels.postCode}}" aria-label="{{labels.searchByPostCode}}"/>
            <button class="search__button" type="submit">{{labels.search}}</button>
        </form>
    </body>
</html>
